.footer {
    margin-top: 52px;
    background-color: #f8f4f7;
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 42%;
    padding: 35px 0px 0px 0px;
}

.footer__right {
    flex: 1;
    padding: 20px 0px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    margin: 34px 0 68px;
    border: 1px solid rgb(224, 54, 54);
    border-radius: 99px;
    background: #fff;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border: none;
    outline: none;
    border-radius: inherit;
    font-size: 1.4rem;
}

.subscribe-form__input::placeholder {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.8;
}

.subscribe-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-right: -1px;
    border-radius: 50%;
    background: rgb(224, 54, 54);
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    outline: none;
    border: none;
}

.subscribe-form__submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: #000958;
}

.social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
}

.social-item:hover {
    opacity: 0.9;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 137px;
}

.footer__list {
    margin-top: 14px;
}

.footer__link {
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    margin: 20px 0 0 20px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.5;
}

footer .logo {
    width: 110px;
}

footer .container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}