.fixed-header {
    background: #f8f4f7;
    padding-top: 13px;
    position: sticky;
    top: -13px;
    z-index: 20;
}

button {
    border: none;
    cursor: pointer;
}

.logo {
    width: 110px;
    height: auto;
    margin-bottom: 15px;
}

.fixed-header .navbar {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.fixed-header #pc-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
}

.fixed-header #pc-nav a {
    color: #535353;
    background-position: left;
    transition: all 0.3s ease;
}

.fixed-header #pc-nav a:hover {
    color: var(--primary-color);
    position: relative;
    background-position: right;
}

.fixed-header #pc-nav a:hover::before {
    content: '';
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.fixed-header .action-link {
    font-size: 16px;
    background: none;
    margin-right: 20px;
    color: black;
}

.fixed-header .action-btn {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    padding: 15px;
}

.fixed-header .action-btn:hover {
    transform: translateY(-10px);
    /* Di chuyển lên 10px */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Đổ bóng khi hover */
}

.fixed-header .actions {
    margin-left: auto;
}

/* Dropdown */
.dropdown-container {
    position: relative;
}

.dropdown-container #user-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 8px 0;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu { 
    a {
        display: block;
        padding: 8px 16px;
        color: #333;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    a:hover {
        background-color: #f5f5f5;
    }    
}


