.destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-top {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

.card-bottom {
    text-align: right;
    padding-right: 15px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff9f9;
}

.route {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}

.route strong {
    display: inline-block;
    margin-top: 3px;
    margin-left: 5px;
}

.route i {
    font-size: 17px;
}

.date-des {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.destination-container .price {
    font-size: 16px;
    color: #666;
}

.destination-container .price span {
    display: block;
    font-size: 22px;
    color: rgb(224, 54, 54);
    font-weight: 600;
    margin: 5px 0px;
}

.destination-container .type-flight {
    font-size: 16px;
    color: #666;
}

.destination-container .book-now {
    background-color: rgb(224, 54, 54);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    width: 95%;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.destination-container .book-now:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.common-search-destination .block-select {
    position: relative;
}


.block-select .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.search-popular-destination {
    margin: 30px 0px;
    display: flex;
    gap: 30px;
}

.common-search-destination {
    flex: 1;
}


.common-search-destination select {
    width: 100%;
}

.common-search-destination .form-control {
    padding-left: 40px;
    font-size: 16px;
}

select.form-control {
    appearance: none;
    background: url('https://vja-ui.useleadr.com/wp-content/themes/vietjetair/assets/images/icon/arrow-down.svg') no-repeat right #fff;
    background-size: 12px 12px;
    background-position-x: calc(100% - 12px);
    height: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.common-search-destination input {
    padding: 10px;
    padding-left: 50px;
    font-size: 16px;
    width: 100%;
    height: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.common-search-destination input::placeholder {
    color: black;
    font-size: 16px;
}

.pd-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.destination-container .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


@media screen and (max-width: 1100px) {
    .destination-container .list {
        grid-template-columns: repeat(2, 4fr);
    }

}

@media screen and (max-width: 767px) {
    .destination-container .destination-grid {
        grid-template-columns: repeat(1, 4fr);
    }

}

@media screen and (max-width: 700px) {
    .search-popular-destination {
        flex-direction: column;
        gap: 10px;
    }
}