.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #333;
    background: #16182308;
    font-size: 2.8rem;
    line-height: 0;
    cursor: pointer;
    border: none;
}

.login-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(224, 54, 54);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity .2s;
    min-width: 100px;
}

.logup-btn {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(224, 54, 54);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity .2s;
    min-width: 100px;
}


/* .newlogo {
    margin-bottom: 98px;
} */

.backlogin-btn,
.backlogup-btn {
    position: fixed;
    top: 7px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    padding: 20px;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    color: #6c6a6a;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.svg-inline--fa {
    display: inline-block;
    height: 1em;
}

.backlogin-btn:hover,
.backlogup-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.login-btn:hover,
.logup-btn:hover {
    opacity: 0.9;
}


.close-btn:hover {
    opacity: 0.9;
}

.signin-form,
.signup-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 41;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.email-login,
.email-logup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 41;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.hidden-login,
.hidden-logup {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.showEmail {
    opacity: 1;
}

.showSign {
    transform: translate(-50%, -50%) scale(1);
}

.common-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.common-btn:hover {
    background: #e7e7e7;
}

.common-btn span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 40px;
}

.common-btn img {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 16px;
}

.main-signin,
.main-signup {
    display: flex;
    flex-direction: column;
    gap: 18.5px;
    margin-top: 20px;
    width: 60%;
}

.actions-container {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.actions-container a {
    color: #ff5733;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
}

.actions-container a:hover {
    text-decoration: underline;
}

.actions-container p {
    margin-bottom: 10px;
    font-size: 1.4rem;
}


.actions-container h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.7rem;
    font-weight: 550;
    color: black;
}

#email-formlogin {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 60%;
    margin-top: 20px;
}

#email-formlogup {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 60%;
    margin-top: 10px;
}

#email-formlogin input {
    position: relative;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    background-color: #fff;
}

#email-formlogup input {
    position: relative;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    background-color: #fff;
}

.remember-me {
    margin-top: 10px;
}

.difference {
    margin-top: 13px;
}

.password-container {
    position: relative;
    width: 100%;
}
  
.password-container input {
    width: 100%;
    box-sizing: border-box;
}

.password-container .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-btn:disabled,
.logup-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.login-btn,
.logup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn .anticon,
.logup-btn .anticon {
    font-size: 16px;
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}
