.answers {
    margin-top: 200px;
}


.faq-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.faq-section .desc {
    font-size: 16px;
    color: #666;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 40px auto 0px;
}


.question-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-section .answer {
    line-height: 1.2;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    margin: 10px 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.answer.open {
    max-height: 200px;
    opacity: 1;
}

.operator {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

.operator:hover {
    cursor: pointer;
}


.question {
    font-weight: 600;
}


.question:hover {
    cursor: pointer;
}

.faq-box {
    width: 45%;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
}

.faq-item a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}


.faq-item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #e0e0e0;
}

.faq-section .content {
    margin: 30px auto;
    padding: 40px 0px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}